/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: top;
  max-width: 1024px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}


.header__theme-menu-button {
  color: var(--default-text-color);
  background-color: transparent;
  border: none;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  justify-self: center;
  padding-top: 20px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
}

.decoration-for-theme {
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 26px;
  color: var(--default-text-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  visibility: visible;
}

.decoration-for-theme::after {
  content: '';
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--default-bg-color);
  box-shadow: 0px 0px 4px 2px var(--default-bg-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--default-text-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 70px;
}

.corner-style {
  position: relative;
}

.corner-style::before {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--default-text-color);
  border-bottom: 1px solid var(--default-text-color);
}

.corner-style::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--default-text-color);
  border-top: 1px solid var(--default-text-color);
}

.main-heading {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--main-heading-color);
  text-shadow: 4px 4px #FF0070;
  align-self: center;
}

.main-heading__text {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
  background-color: var(--default-bg-color);
  max-width: 491px;
  margin-right: 20px;
  justify-self: flex-end;
  align-self: flex-start;
}

.main {
  color: var(--main-text-color);
  gap: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.content-block {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 984px;
}

.paragraph-main-text-heading {
  color: var(--text-color);
  background-color: var(--default-bg-color);
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 90vw;
}

.main-heading-paragraph {
  margin-top: 0;
}

h4 {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.special-word {
  text-shadow: 2px 2px var(--default-bg-color);
  text-decoration: none;
}

.main-thougnt-text {
  color: var(--default-text-color);
  width: 314.96px;
}

h2,
h3 {
  font-size: 18px;
  font-weight: 700;
}

.content-block-main-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.content-block-main-text  .-information {
  flex: 1 0 30%;
}

.content-paragraph-main-text {
  max-width: 60vw;
}

.-paragraph {
  display: flex;
  flex-direction: column;
}

.about {
  margin-top: 60px;
}

.-information {
  max-width: 40vw;
}

._information {
  max-width: 60vw;
}

.paragraph-main-text__heading {
  font-weight: 400;
  font-size: var(--main-font-size);
  color: var(--text-color);
  background-color: var(--default-bg-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.pictures {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 19px;
}

.image-title {
  color: var(--text-color);
  background-color: var(--default-bg-color);
  max-width: 1024px;
}

.images {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  margin-top: 20px;
  margin-right: -20px;
}

.item1-container {
  grid-column-start: 1;
  grid-column-end: span 2;
  max-width: 70vw;
}

.item1 {
  background-size: 100%;
}

.item2-container {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  max-width: 30vw;
  max-height: 595px;
}

.item3-container {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: span 3;
  max-height: 766px;
  max-width: 30vw;
}

.item4-container {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 3;
  max-width: 65vw;
}

.item5-container {
  background-size: 100%;
  grid-column: 2;
  grid-row: 2;
  max-width: 30vw;
}

.item5 {
  background-size: 100%;
}

.item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item4 {
  width: 97%;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  width: auto;
  margin-top: 10px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.special-word:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--default-text-color);
}

.special-word:focus {
  outline: 1px solid var(--main-text-color);
}

@media (width <=768px) {

  body,
  .header,
  .main {
    width: 100vw;
  }

  .page {
    width: 100vw;
    background-size: 100vw 100vh;
  }

  .header__theme-menu-list {
    display: flex;
    justify-self: end;
    padding-top: 192px;
    flex-direction: column;
    font-size: 120px;
    line-height: 99px;
  }

  .main-heading__text {
    width: 364px;
    margin-right: 0;
  }

  .main-heading {
    font-size: 120px;
  }

  .main-thougnt-text {
    width: 35vw;
  }

  .content-block {
    width: 100vw;
    gap: 10px;
  }

  .content-block-main-text {
    flex-direction: column;
  }

  .paragraph-main-text__thought {
    width: 60vw;
  }

  .main-heading-paragraph {
    width: 60vw;
  }

  .-information- {
    max-width: 90vw;
  }

  ._information_ {
    width: 60vw;
  }

  .image-title {
    width: 96vw;
  }

  .images {
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
  }

  .item1-container {
    max-width: 479px;
    max-height: 192px;
  }

  .item2-container {
    max-width: 229px;
    max-height: 441px;
  }

  .item3-container {
    max-width: 229px;
    max-height: 568px;
  }

  .item4-container {
    max-width: 479px;
    max-height: 318px;
  }

  .item5-container {
    max-width: 230px;
    max-height: 230px;
  }

  .footer {
    align-self: center;
    width: 100vw;
  }
}

@media (width <=375px) {
  body {
    width: 100vw;
  }

  .header {
    display: block;
  }

  .main {
    margin-top: 40px;
  }

  .header__theme-menu-list {
    display: flex;
    justify-self: end;
    flex-direction: column;
    font-size: 120px;
    line-height: 99px;
  }

  .main-heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-top: 65px;
    max-width: 90vw;
    width: 90vw;
  }

  .main-heading__text {
    margin-left: 10px;
    width: 90vw;
  }

  .content-block {
    flex-direction: column;
    margin-left: 10px;
    width: 100vw;
  }

  .paragraph-main-text__thought {
    width: 90vw;
  }

  .main-thougnt-text {
    width: 90vw;
  }

  .paragraph-main-text__heading {
    width: 90vw;
  }

  .-information,
  ._information {
    width: 90vw;
    max-width: 90vw;
  }

  .main-thougnt-text {
    width: 90vw;
  }

  .content-paragraph-main-text,
  .main-heading-paragraph {
    width: 90vw;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90vw;
  }

  .item1-container {
    max-width: 90vw;
    max-height: 142px;
  }

  .item2-container {
    max-width: 90vw;
    max-height: 355px;
  }

  .item3-container {
    max-width: 90vw;
    max-height: 237px;
  }

  .item4-container {
    max-width: 90vw;
    max-height: 237px;
  }

  .item5-container {
    max-width: 90vw;
    max-height: 355px;
  }

  .pictures {
    padding-left: 10px;
  }

  .image-title {
    width: 90vw;
  }
}