/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --default-text-color: #FF0070;
  --default-bg-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #000028;
  --main-text-color: #F1B2CE;
  --main-heading-color: #DB00FF;
  --main-font-size: 18px;
  --hover-color: rgb(255, 0, 112, 0.4);
}
